body {
  background-color: midnightblue;
}
h1 {
  color: green;
  text-align: center;
  font-size: 80px;
  font-family: pacifico;
}
p {
  font-family: birthstone;
  font-size: 50px;
  color: green;
}
.container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
@media (max-width = 600px) {
  img {
    width: 100;
  }
}